<li class='gallery_item' >
  <article class="gallery_exempl">
  <img class='gallery_image lazyload' src='https://image.tmdb.org/t/p/w500{{poster_path}} ' alt='filmCard' data-id="{{id}}" />
  <p class='gallery_text'>{{original_title}}</p>
  <p class='gallery_genre'>{{filmGenry}} |<span class='gallery_year'> {{correctYearRelease}}</span> <span class="gallery_voise">{{vote_average}}</span></p>
  </article>
</li>